*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    
    box-sizing: border-box;
    height: 35vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 20px 20px;
    border-top-left-radius: 20px;
    color: rgb(199, 198, 198);
    background-color: rgb(180, 177, 177);
    position: relative;

}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80% ;
    width: fit-content;
    background: linear-gradient(white,gray);
   
   
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

    
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
     width:fit-content
     
}


.link a{
text-decoration: none;
}

.para h5 {
    font-size: medium;

}
@media screen and (max-width:425px) {
   .container{
    display: flex;
    flex-direction: column;
   }
   
}