
.main{
    display: grid;
    grid-template-rows: 2fr 7fr 1fr;
   
}
h2 ,p , h3{
    font-family: 'Roboto', sans-serif;
}
.headh2{
  font-weight: 700;        /* makes the text extra bold */
  font-size: 2.2rem;       /* increases size */
  letter-spacing: 1px;  
}
.head{
    display: flex;
    flex-direction: column;
    
    padding: 50px 20px 40px;
    align-items: center;
}
.middle{
    background-color: rgb(247, 251, 255);
    display: flex;
    flex-direction: column;
    
   
}
hr {
  border: none;
  height: 1px;           
  background-color: #b8b8b8;
  width: 100%;           
  margin: 20px auto;     
}
.order{
    padding: 50px 0px 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    align-content: center;
    align-self: center;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;        
    font-size: 1.5rem;
    
    letter-spacing: 0.5px;  
     

}
.middle ol li {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
  font-size: 1rem;
 

}
a{
    text-decoration: none;
    
}
.middle ol{
    display: flex;
    flex-direction: column;
    align-content: start;
}
.return {
     padding: 50px 0px 8px 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    

}
.div{
    display: flex;
    align-items: center;
}
.middle ul li {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 15px;
  font-size: 1rem;

 

}
br{
   gap:1px 
}
.footer {
     text-align: center;       /* centers the text inside */
  padding: 20px 0;          /* adds top and bottom space */
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #333;
}
.textfooter{

     font-family: 'Roboto', sans-serif;
    font-weight: 300;        
    font-size: 0.8rem;
    
    letter-spacing: 0.5px; 

}
